@model IEnumerable<VeriBilisimFinal.Models.Personel>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Personel Listesi</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Personel" asp-action="Create" class="btn btn-primary"> Yeni Personel Oluştur</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Personel Adı</th>
                    <th>Personel Soyadı</th>
                    <th>Cinsiyet</th>
                    <th>Doğum Tarihi</th>
                    <th>Düzenle</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="20%">@item.PersonelAd</td>
                        <td width="20%">@item.PersonelSoyad</td>

                        <td width="20%">@item.Cinsiyet</td>
                        <td width="20%">@item.DogumTarihi</td>
                        <td width="20%">
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="Personel" asp-action="Update" asp-route-Id="@item.ID" class="btn btn-primary mx-1">Güncelle</a>
                                <a asp-controller="Personel" asp-action="Delete" asp-route-Id="@item.ID" class="btn btn-danger mx-1">Sil</a>

                            </div>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    }
    else
    {
        <p>Henüz bir Personel Oluşturulmadı</p>
    }


</div>




